

.font-uber-move-medium{
  font-family:helvetica,sans-serif;
}

.menu-scroll{
  /* height: 120vh;  */
  /* position: fixed; */
  overflow-y: scroll;
}
.menu-without{
  /* flex: 0 0 100%; */
  position: fixed;
}

.padding-top-card{
  padding-top: 15% !important;
}

.footer-cabron {
  padding-top: 10px;
  padding-bottom: 10px;
  position:fixed;
  bottom:0;
  width:40%;
}

.order-list{
  height: 450px;
  width:300%;
}

/*SVG  */
#tick {
  stroke: #63bc01;
  stroke-width: 6;
  transition: all 1s;
}

#circle {
  stroke: #63bc01;
  stroke-width: 6;
  transform-origin: 50px 50px 0;
  transition: all 1s;
}

.progress #tick {
  opacity: 0;
}

.ready #tick {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 8s ease-out forwards;
}

.progress #circle {
  stroke: #4c4c4c;
  stroke-dasharray: 314;
  stroke-dashoffset: 1000;
  animation: spin 3s linear infinite;
}

.ready #circle {
  stroke-dashoffset: 66;
  stroke: #63bc01;
}

#circle {
  stroke-dasharray: 500;
}


@keyframes spin {
  0% { 
    transform: rotate(0deg);
    stroke-dashoffset: 66;
  } 
  50% {
    transform: rotate(540deg);
    stroke-dashoffset: 314;
  } 
  100% {
    transform: rotate(1080deg);
    stroke-dashoffset: 66;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

#check {
  width: 300px;
  height: 300px;
}
