
.menu-scroll{
  /* height: 120vh;  */
  /* position: fixed; */
  overflow-y: scroll;
}
.menu-without{
  /* flex: 0 0 100%; */
  position: fixed;
}

.padding-top-card{
  padding-top: 15% !important;
}