
@font-face {font-family: "Uber Move Text";
  src: url("http://db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.eot"); /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("http://db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.woff2") format("woff2"), /* chrome firefox */
  url("http://db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.woff") format("woff"), /* chrome firefox */
  url("http://db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("http://db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.svg#Uber Move Text") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Uber Move Medium";
  src: url("http://db.onlinewebfonts.com/t/7530190cfa46223bb3db0ba0ddde0d37.eot"); /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/7530190cfa46223bb3db0ba0ddde0d37.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("http://db.onlinewebfonts.com/t/7530190cfa46223bb3db0ba0ddde0d37.woff2") format("woff2"), /* chrome firefox */
  url("http://db.onlinewebfonts.com/t/7530190cfa46223bb3db0ba0ddde0d37.woff") format("woff"), /* chrome firefox */
  url("http://db.onlinewebfonts.com/t/7530190cfa46223bb3db0ba0ddde0d37.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("http://db.onlinewebfonts.com/t/7530190cfa46223bb3db0ba0ddde0d37.svg#Uber Move Medium") format("svg"); /* iOS 4.1- */
}

.font-uber-move-medium{
  font-family:'Uber Move Medium';
}

.menu-scroll{
  /* height: 120vh;  */
  /* position: fixed; */
  overflow-y: scroll;
}
.menu-without{
  /* flex: 0 0 100%; */
  position: fixed;
}

.padding-top-card{
  padding-top: 15% !important;
}

.footer-cabron {
  padding-top: 10px;
  padding-bottom: 10px;
  position:fixed;
  bottom:0;
  width:40%;
}

.order-list{
  height: 450px;
  width:300%;
}